/* font family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');

/* Etc */
hr {
    border-width:1px 0px 0px 0px;
    border-style:solid;
    border-color:#808080;
    opacity: 0.3;
    height:1px;
} 

/* font size */
.ssm {
    font-size: 12px !important;
}

.sm {
    font-size: 14px !important;
}

.lg {
    font-size: 18px !important;
}

.xl {
    font-size: 22px !important;
}

.xxl {
    font-size: 26px !important;
}

.bg {
    font-size: 32px !important;
}

.logo {
    font-size: 40px !important;
}

/* font weight */
.wsm {
    font-weight: 500 !important;
}

/* float position */
.right {
    float: right;
}

.left {
    float: left;
}

/* Button */
.btn {
    color: #00c3bd;
    background-color: #fff;
    border: 2px solid #00c3bd;
    opacity: 0.9;
    cursor: pointer;
}

.btn-rounded {
    width: 66px;
    height: 30px;
    margin-top: -5px;
    color: #666;
    border: 1px solid #959595;
    border-radius: 16px;
    line-height: 28px;
    font-size: 12px;
    font-family: 'Noto Sans Light',sans-serif;
    text-align: center;
    text-decoration: none;
}

.btn-active {
    border: solid 1px #0AC7BD;
    color: #0AC7BD;
}

/* font */
.title {
    margin-top: 0;
    font-size: 40px;
    font-weight: 400;
    font-family: "Nanum Myeongjo",sans-serif;
    color: #1a1a1a;
    text-align: left;
    letter-spacing: -.05em;
}

.noto-sans {
    font-family: "Noto Sans KR";
}

.desc {
    padding-bottom: 16px;
    margin-top: -3px;
    font-size: 32px;
    line-height: 46px;
    font-family: "Nanum Myeongjo",sans-serif;
    color: #cacaca;
    letter-spacing: -.05em;
}

.desc2 {
    font-family: "Noto Sans KR";
    color: #333333;
    padding: 15px 0;
}

.text-by {
    font-size: 11px;
    color: #bfbfbf;
}

.italic {
    font-style: italic;
}

/* 드래그 기능 제거 */
.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

/* 섹터별 타이틀과 설명란 div 제어 */
.title-wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}