/* header */
header {
    border-top: 1px solid #ff7c98;
    border-bottom: 1px solid #3f291a;
    min-width: 1200px;
    background: url(../img/bg_header.gif) 50% 0 repeat-x;
    height: 182px;
    
}

header .top-area {
    
    position: relative;
    width: 1200px;
    height: 114px;
    padding-top : 21px;
    margin: auto;
}

header .logo {
    width:92px;
    height:92px;
    display : block;
    margin: 0 auto;
}
header .logo a {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../img/logo_baskinrobbins.png);
}

header .sns {
    display: block;
    position: absolute;
    top : 50px;
    left: 0;
}

header .sns li {
    float: left;
    padding-right: 10px;
}

header .etc {
    top: 39px;
    right: 0;
    height: 54px;
    line-height: 54px;
    position: absolute
}

header .etc li {
    float: left;
    padding-left: 20px;
    font-size:11px
}


/* header-menu-area */

header .menu-area {
    border-top: 1px solid #e2d9d6;
}
header .menu-area .inner {
    width: 1200px;
    margin: 0 auto;
}

header .member {
    width: 154px;
    float: left;
}
header .member li {
    float: left;
}

header .member a {
    display: block;
    float: left;
    padding: 0 23px;
}
header .member .login a {
    padding-left: 0;
}

header .member .login span {
    background: url(../img/gnb_menu.png) no-repeat;
    display: block;
    background-position: 0px -1px;
    height: 46px;
    width: 35px;
    text-indent: -9999px;
}

header .member .join span {
    background: url(../img/gnb_menu.png) no-repeat;
    display: block;
    background-position: -97px -1px;
    height: 46px;
    width: 27px;
    text-indent: -9999px;
}

/* gnb */
#menu-bar-wrapper {
    width: 100%;
    height: 46px;
    margin-left : 100px;
}

#menu-bar-inner {
    position:relative;
    margin: 0 0 0 -480px;
    width: 100%;
    left: 100px;
    margin: 0 auto;
    display: flex;
    line-height: 3;
}

/* 메뉴바 로그인 영역 */
#menu-bar-login {
    padding-left: 180px;
    padding-right: 45px;
    white-space: nowrap;
}

#menu-bar-login a span {
    font-size: 11px;
    font-weight: 800;
}

#menu-bar-login a:nth-child(1) span {
    color: #F77C98;
    margin-right: 40px;
}

#menu-bar-login a:nth-child(2) span {
    color: #6C6C6C;
}

/* 메뉴바 카테고리 영역 */
#menu-bar-category {
    white-space: nowrap;
}
#menu-bar-category a {
    margin-left: 5px;
}
#menu-bar-category a:last-child {
    margin-left: -5px;
}
#menu-bar-category a span {
    font-size: 13px;
    font-weight: 700;
    padding-left: 65px;
    padding-right: 65px;
}
#dropdown-wrapper {
    width: 100%;
    min-width: 100%;
    height: 280px;
    background-color: #fff;
    position: absolute;
    transition: height .7s;

    margin: 0 0 0 -480px;
    margin: 0 auto;
    display: flex;
    line-height: 3;
    z-index: 999;
    overflow: hidden;
}


/* 드랍다운 이미지 박스 */
#dropdown-img-box {
    margin-left: 250px;
}

#dropdown-img-box img {
    vertical-align: middle;
}

#dropdown-img-box img:nth-child(1) {
    margin-bottom: 50px;
}

/* 드랍다운 메뉴 박스 */
#dropdown-menu-box {
    display: flex;
    z-index: 999;
    margin-left : 100px;
}

#dropdown-menu-item-box {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    text-align:center;
}

.dropdown-menu-item:nth-child(1) {
    margin-left: 35px;
    margin-right: 130px;
}

.dropdown-menu-item:nth-child(3) {
    margin-left: 140px;
    margin-right: 110px;
}

.dropdown-menu-item:nth-child(5) {
    margin-left: 105px;
}

.dropdown-menu-item p {
    font-size: 14px;
    color: #7b7b7b;
}
#gnb .gnb-bg {
    overflow: hidden;
    position: absolute;
    top: 184px;
    left: 0;
    height: 0;
    z-index: 999;
    min-width: 100%;
    border-bottom: 1px solid #693337;
    background: #fff;
}
#gnb .gnb-bg div {
    width: 1200px;
    height: 275px;
    margin: 0 auto;
    background: url("../img/img_happypoint_app.jpg") no-repeat 0 65px;
}

/* content */

#content {
    width: auto;
    min-width: 1200px;
    padding-bottom: 130px;
    margin: 0 auto;
    padding: 0 0 160px;
    
}

#content .main-banner {
    position: relative;
}

#content .flavor-month .top a {
    height: 150px;
    margin-bottom: 3px;
    background: #7DC9E2 url(../img/1610330197.jpg) 50% 0 no-repeat;
    display: block;
}

/* slide */
#content .banner-slide {
    position: relative;
    min-width: 1200px;
    margin: 0 auto;
}

#content .banner-slide li {
    float: left;
}

#content .banner-slide li a {
    display: block;
    height: 697px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    
}

#content .banner-slide .banner-1 a {
    background-image: url(../img/1610330217.jpg);
    background-color: #7DC9E2;
}

#content .banner-slide .banner-2 a {
    background-image: url(../img/1657508413.png);
    background-color: #D6A67B;
}

#content .banner-slide .banner-3 a {
    background-image: url(../img/1620718839.png);
    background-color: #CA2B6E;
}

#content .banner-slide .banner-4 a {
    background-image: url(../img/1620351475.png);
    background-color: #ffe103;
}

#content .banner-slide .banner-5 a {
    background-image: url(../img/1630631572.jpg);
    background-color: #fb637e;
}

/* dslide */

#content .banner-slide .dslide {
    margin-top : -40px;
}

#content .banner-slide .dslide a {
    width: 14px;
    height: 14px;
}

#content .banner-slide .dslide a span {
    height: 10px;
    width: 10px;
    margin: -5px 0 0 -5px;
    background-color: #fff;
}

/* btns */

#content .banner-slide .btns a {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -54px;
}
#content .banner-slide .btns .prev {
    left: 20px;
}
#content .banner-slide .btns .next {
    right: 20px;
}

/* br event */

#content .br-event{
    height: 721px;
}

#content .br-event >.title {
    padding: 100px 0 50px;
}

#content h3.title {
    text-align: center;
}

    /* event list */

#content .br-event .list-product {
    overflow: hidden;
    width: 1200px;
    left: 0px;
}

#content .br-event ul {
    margin-left: -16px;
}

#content .br-event li {
    float: left;
    width: 25%;
    min-height: 465px;
    padding-left: 16px;
    box-sizing: border-box;
}
#content .br-event li a {
    display: block;
}
#content .br-event figure{
    box-sizing: border-box;
}
#content .br-event figure img {
    width: 286px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
}

#content .br-event .type{
    margin: 22px 0 8px 0;
}
#content .br-event li span {
    display: block;
}
#content .br-event .title {
    color: #2f231c;
    font-size: 17px;
    line-height: 23px;
}
#content .br_event .period{
    margin: 11px 0;
    font-weight: 300;
    color: #948780;
}
.list-product figure img {
    width: 160px;
}

/* br-menu */
#content .br-menu {
    position: relative;
    height: 1157px;
    background: url(../img/bg_menu.jpg) 50% 0 no-repeat;
}
    /* title */

#content .br-menu .title {
    padding-top: 78px;
}
#content h3.title {
    text-align: center;
}
    /* mecu list */
#content .br-menu .menu-list {
    height: 1066px;
    background: url(../img/img_menu_list_211101.png) 50% 0 no-repeat;
    margin-top: 50px;
}

#content .br-menu .menu-list {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

/* store delivery */
#content .store-delivery{
    height: 537px;
    box-sizing: border-box;
}
#content .store-delivery .title {
    padding: 95px 0 50px;
}
#content h3.title {
    text-align: center;
}

/* snsbox */
#content .snsbox .title{
    padding-bottom: 26px;
}
#content .snsbox .sns{
    width: 400px;
    margin: 0 auto;
    padding-bottom: 35px;
}

#content .snsbox ul:after{
    display: block;
    clear: both;
    content: "";
}
#content .snsbox .sns li {
    float: left;
    padding: 0 9px;
}

#content h4.title{
    text-align: center;
    padding: 26px 0 0;
    margin-bottom: -14px;
}

#content h4.title:before{
    position: relative;
    top: -9px;
    left: 0;
    display: inline-block;
    text-align: center;
    content: "";
    width: 100%;
    height: 1px;
    background-color:#dcd7d1;
}
#content h4.title img {
    z-index: 10;
    display: inline-block;
    position: absolute;
    margin-left: -750px;
    
}

/* grid */
.sns-grid {
    width: 1200px;
    margin:auto;
    margin-top: 40px;
}
.grid-container::after{
    float: none;
    clear: both;
    content: "";
    display: block;
}

.grid-container span {
    float: left;
    width: 230px;
    height: 230px;
    margin: 2px;
    overflow: hidden;
    position: relative;
    background-size: contain;
}

/* footer */
footer {
    min-width: 1200px;
    padding-bottom: 60px;
    border-top: 1px solid #feaf2b;
}
footer .policy {
    padding: 0 80px;
    height: 77px;
    line-height: 77px;
    box-sizing: border-box;
}
footer nav ul:after {
    display:table;
    clear:both;
    content:"";
}
footer .policy li {
    float: left;
    text-align: center;
}
footer .policy .privacy a {
    color: #ff7c98;
    font-weight:bold;
}

footer .brand-family {
    background-color: #f9f8f7;
}
footer .brand-family .inner{
    position:relative;
    height: 75px;
}
footer .brand ul {
    padding: 22px 0 0 222px;
}
footer .brand li {
    float: left;
}
footer .brand .li-1{
    width: 111px;
}
footer .brand .li-2{
    width: 118px;
}
footer .brand .li-3{
    width: 182px;
}
footer .brand .li-4,
footer .brand .li-5{
    padding-right: 9px;
}
footer .brand .li-1{
    width: 111px;
}
footer .brand .li-1{
    width: 111px;
}

footer .familysite{
    position: absolute;
    top: 21px;
    right: 196px;
    width: 150px;
    background-color: #fff;
}
footer .familysite button.on {
    background-image: url(../img/family_size_on.png);
}
footer .familysite button {
    width: 100%;
    height: 32px;
    padding-left: 11px;
    border-radius: 5px;
    border: 1px solid #d1cecc;
    background: transparent url(../img/family_size_off.png) no-repeat 100% 0;
    color: #b1ab9f;
    font-size: 11px;
    text-align: left;
    box-shadow: 2px 2px 2px 0px rgb(234 233 232 / 80%);
    cursor: pointer;
}
footer .familysite .on + ul{
    display: block;
}
footer .familysite ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 28px;
    width: 100%;
    padding: 5px 0;
    border-radius: 5px 5px 0 0;
    border: 1px solid #d1cecc;
    background: #fff;
    box-sizing: border-box;
}
footer .familysite a {
    display: block;
    height: 25px;
    padding-left: 15px;
    color: #726454;
    line-height: 25px;
}

    /* info */
footer .info {
    padding-top: 48px;
    color : #635b56;
    font-size: 11px;
    text-align: center;
}
footer .info .logo {
    padding-bottom: 35px;
}
footer .info > div p {
    padding-right: 15px;
}
address {
    font-style: normal;
    font-weight: 400;
}
footer .info .copyright {
    padding-top: 12px;
    color: #b1adab;
    font-size: 11px;
}